/* inlog.css */

#inlog {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 50px auto;
}

#inlog h2 {
    margin-bottom: 20px;
    color: #333;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 5px;
    color: #555;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-login {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    color: red;
}