@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
html body,
body body {
  font-family: Arial, sans-serif;
}




/* index page  */
#index_main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-tile {
  text-align: center;
}

.main-tile h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

a#meldingMaken, a#incidentenBekijken, a#enquête {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

a#meldingMaken:hover, a#incidentenBekijken:hover, a#enquête:hover {
  background-color: darkred;
}

.main-tile article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#enquête {
  display: block;
  margin: 10px auto;
}
.news-admin-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-admin-main form {
  margin: 2% 0%;
  padding: 1%;
  border: 1px solid black;
  width: 60%;
}
.news-admin-main form article:nth-child(1),
.news-admin-main form article:nth-child(2),
.news-admin-main form article:nth-child(3) {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.news-admin-main form article:nth-child(1) input,
.news-admin-main form article:nth-child(1) textarea,
.news-admin-main form article:nth-child(2) input,
.news-admin-main form article:nth-child(2) textarea,
.news-admin-main form article:nth-child(3) input,
.news-admin-main form article:nth-child(3) textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.news-admin-main form article:nth-child(3) textarea {
  height: 150px;
  resize: vertical;
}
.news-admin-main form article:nth-child(4) {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  width: 100%;
}
.news-admin-main form button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}
.news-admin-main form button:hover {
  background-color: #0056b3;
}
.news-admin-main form button:nth-child(1) {
  background-color: #dc3545;
}
.news-admin-main form button:nth-child(1):hover {
  background-color: #c82333;
}
.news-admin-main section {
  align-self: flex-end;
  margin: 2%;
}
.news-admin-main section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}
.news-admin-main section button:hover {
  background-color: #0056b3;
}
.news-admin-main table {
  width: 90%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}
.news-admin-main table th,
.news-admin-main table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}
.news-admin-main table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}
.news-admin-main table th:nth-child(1),
.news-admin-main table td:nth-child(1) {
  width: 5%;
}
.news-admin-main table th:nth-child(2),
.news-admin-main table td:nth-child(2) {
  width: 10%;
}
.news-admin-main table th:nth-child(3),
.news-admin-main table td:nth-child(3) {
  width: 20%;
}
.news-admin-main table th:nth-child(4),
.news-admin-main table td:nth-child(4) {
  width: auto;
}
.news-admin-main table th:nth-child(5),
.news-admin-main table th:nth-child(6),
.news-admin-main table td:nth-child(5),
.news-admin-main table td:nth-child(6) {
  width: 5%;
}
.news-admin-main table td img {
  max-width: 80px;
  height: auto;
}
.news-admin-main table button.update-button,
.news-admin-main table button.delete-button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.news-admin-main table button.update-button:hover,
.news-admin-main table button.delete-button:hover {
  background-color: #f1f1f1;
}

.contact-admin-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */
