// Variables
$primary-color: #d90429;
$primary-hover-color: #a30722;
$background-color: #f5f5f5;
$header-footer-color: #58bccc;
$text-color: #333;
$secondary-color: #58bccc;
//rgb(184, 190, 196) #400c4c

// Mixins
@mixin button($width: 150px, $height: 50px) {
  width: $width; 
  height: $height; 
  padding: 10px 30px; 
  background-color: $primary-color; 
  color: $background-color; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1rem; 
  transition: background-color 0.3s ease; 

  &:hover {
      background-color: $primary-hover-color;
  }
}

// General
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
}


// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #58bccc;
  //padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  padding: 10px 20px;
  //border-radius: 10px;
  
  //margin: 10px;

  .logo a{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: $purple;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
      &:hover {
        background-color: $primary-hover-color; 
      }

    img {
      //width: 120px;
      width: 11vw; 
      height: auto;
    }

    h1 {
      font-size: 24px;
      color: $text-color; 
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
  
      li {
        display: inline;
  
        a {
          text-decoration: none;
          padding: 10px 15px;
          background-color: $primary-color;
          color: white;
          border-radius: 5px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: $primary-hover-color; 
          }
        }
        
        &:nth-child(4) a {
          padding: 15px 20px;
          font-size: 0.9rem; 
        }
      }
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58bccc;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.875rem;

  //border-radius: 10px;
  //margin: 10px;
  
  //p {
  //  color: white;
  //}
  

  // Optional: adjust spacing for child elements
  > * {
    margin: 0 10px; // Space between child elements
  }
}

main {
  flex: 1; // Allow the main content to grow and fill space
}

// User acces //

//index
#index_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center; 

  section {
    max-width: 600px;
    width: 100%;

    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
      color: #333;
    }

    article {
      display: flex; 
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;

      #meldingMaken {
        @include button(150px, 45px);
        text-decoration: none;
      }

      #incidentenBekijken {
        @include button(150px, 45px);
        text-decoration: none;
      }
    }

    #enquête {
      @include button(150px, 50px);
      text-decoration: none;
    }
  }
}


//plattegrond
#plattegrond_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

//news
#news_main {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align:start;
  margin: 0 auto;
  padding: 5vh 0vh;

  section {
    margin: 2vh 2vw;
    max-width: 600px;
    width: 100%;
    border: 2px solid black;
    padding: 1vh 1vw;
  
    div {
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-content: center; 
      display: flex;
      border: 2px solid black;

      img {
        max-width: 100%;
        height: auto;  
      }
    }
  } 
}

//contact
#contact_main {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align:start;
  margin: 0 auto;
  padding: 5vh 0vh;

  

  section {
    margin: 2vh 2vw;
    max-width: 600px;
    width: 100%; 
    padding: 1vh 1vw;
  
    div {
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-content: center; 
      display: flex;
      border: 2px solid black;

      img {
        max-width: 100%;
        height: auto;  
      }
    }

    article {
      margin: 20px;

      div {
        border: 0;
        display: contents;
        margin: 20px;
      }
    }
  } 
}

//melding maken
#melding-maken_main {
  background-color: #333;
}

//meldingen
#meldingen_main {
  background-color: #333;
}

//enquêtes
#enquêtes_main {
  padding: 10% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//account
#account_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inlog_main {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 50px auto;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
   
      color: #555;
    }

    input[type="text"], input[type="password"] {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .button-login {
      padding: 10px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  #message {
    margin-top: 20px;
    color: red;
  }
}

// admin acces //

//news_admin
#news_admin_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    margin: 2% 0%;
    padding: 1%;
    border: 1px solid black;
    width: 60%;

    article:nth-child(1), article:nth-child(2), article:nth-child(3) {
      display: flex;
      flex-direction: column;
      padding: 1%;
      
      input, textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    article:nth-child(3) textarea {
      height: 150px;
      resize: vertical;
    }

    article:nth-child(4) {
      display: flex;
      justify-content: space-between; 
      padding: 1%;
      width: 100%;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #007BFF;
      color: white;
      border-radius: 4px;

      &:hover {
        background-color: #0056b3;
      }
    }

    button:nth-child(1) {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  section {
    align-self: flex-end;
    margin: 2%;

    button{
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #007BFF;
      color: white;
      border-radius: 4px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  table {
    width: 90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;

    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
        color: #333;
        font-weight: bold;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 5%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 10%;
    }

    th:nth-child(3), td:nth-child(3) {
        width: 20%;
    }

    th:nth-child(4), td:nth-child(4) {
        width: auto;
    }

    th:nth-child(5), th:nth-child(6),
    td:nth-child(5), td:nth-child(6) {
        width: 5%; 
    }

    td img {
        max-width: 80px;
        height: auto;
    }

    button.update_button, button.delete_button {
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;

      button.update_button:hover, button.delete_button:hover {
          background-color: #f1f1f1;
      }
    }
  }
}



//contact_admin
#contact_admin_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}