@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

// Variables
$primary-color: #d90429;
$primary-hover-color: #a30722;
$secondary-color: #2e0e4a;
$tertiary-color: #ec4a67;
$background-color: #f5f5f5;
$text-color: #333;

$font: "Montserrat";

// Mixins
@mixin button($width: 150px, $height: 50px) {
  width: $width; 
  height: $height; 
  padding: 10px 30px; 
  background-color: $primary-color; 
  color: $background-color; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1rem; 
  transition: background-color 0.3s ease; 

  &:hover {
      background-color: $primary-hover-color;
  }
}

// General
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
}


// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .logo a{
    display: flex;
    align-items: center;

    img {
      width: 50px; 
      height: auto;
      margin-right: 10px; 
    }

    h1 {
      font-size: 24px;
      color: $text-color; 
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
  
      li {
        display: inline;
  
        a {
          text-decoration: none;
          padding: 10px 15px;
          background-color: $primary-color;
          color: white;
          border-radius: 5px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: $primary-hover-color; 
          }
        }
        
        &:nth-child(4) a {
          padding: 15px 20px;
          font-size: 0.9rem; 
        }
      }
    }
  }
}

// Footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  padding: 15px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.875rem;

  // Optional: adjust spacing for child elements
  > * {
    margin: 0 10px; // Space between child elements
  }
}

main {
  flex: 1; // Allow the main content to grow and fill space
}

// User acces //

//index
#index_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center; 

  section {
    max-width: 600px;
    width: 100%;

    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
      color: #333;
    }

    article {
      display: flex; 
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;

      #meldingMaken {
        @include button(150px, 45px);
        text-decoration: none;
      }

      #incidentenBekijken {
        @include button(150px, 45px);
        text-decoration: none;
      }
    }

    #enquête {
      @include button(150px, 50px);
      text-decoration: none;
    }
  }
}


//plattegrond
#plattegrond_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

//news
#news_main {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align:start;
  margin: 0 auto;
  padding: 5vh 0vh;

  section {
    margin: 2vh 2vw;
    max-width: 600px;
    width: 100%;
    border: 2px solid black;
    padding: 1vh 1vw;
  
    div {
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-content: center; 
      display: flex;
      border: 2px solid black;

      img {
        max-width: 100%;
        height: auto;  
      }
    }
  } 
}

//contact
#contact_main {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align:start;
  margin: 0 auto;
  padding: 5vh 0vh;

  

  section {
    margin: 2vh 2vw;
    max-width: 600px;
    width: 100%; 
    padding: 1vh 1vw;
  
    div {
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-content: center; 
      display: flex;
      border: 2px solid black;

      img {
        max-width: 100%;
        height: auto;  
      }
    }

    article {
      margin: 20px;

      div {
        border: 0;
        display: contents;
        margin: 20px;
      }
    }
  } 
}

//melding maken
#melding-maken_main {
  background-color: #333;
}

//meldingen
#meldingen_main {
  background-color: #333;
}

//enquêtes
#enquêtes_main {
  padding: 10% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//account
#account_main {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// admin acces //

//news_admin
#news_admin_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    margin: 2% 0%;
    padding: 1%;
    border: 1px solid black;
    width: 60%;

    article:nth-child(1), article:nth-child(2), article:nth-child(3) {
      display: flex;
      flex-direction: column;
      padding: 1%;
      
      input, textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    article:nth-child(3) textarea {
      height: 150px;
      resize: vertical;
    }

    article:nth-child(4) {
      display: flex;
      justify-content: space-between; 
      padding: 1%;
      width: 100%;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #007BFF;
      color: white;
      border-radius: 4px;

      &:hover {
        background-color: #0056b3;
      }
    }

    button:nth-child(1) {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  section {
    align-self: flex-end;
    margin: 2%;

    button{
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #007BFF;
      color: white;
      border-radius: 4px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  table {
    width: 90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;

    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
        color: #333;
        font-weight: bold;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 5%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 10%;
    }

    th:nth-child(3), td:nth-child(3) {
        width: 20%;
    }

    th:nth-child(4), td:nth-child(4) {
        width: auto;
    }

    th:nth-child(5), th:nth-child(6),
    td:nth-child(5), td:nth-child(6) {
        width: 5%; 
    }

    td img {
        max-width: 80px;
        height: auto;
    }

    button.update_button, button.delete_button {
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;

      button.update_button:hover, button.delete_button:hover {
          background-color: #f1f1f1;
      }
    }
  }
}



//contact_admin
#contact_admin_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
#melding-maken_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-incident-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80%;
  row-gap: 20px;
}

#new-incident-columns-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
}

.new-incident-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0px;
  row-gap: 20px;
}

#new-incident-right-column {
  margin-left: auto;
}

.new-incident-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.new-incident-label {
  font-size: 20px;
  font-family: $font;
  font-weight: bold;
}

.new-incident-input {
  height: 4vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: $font;
  padding-left: 3px;
  font-size: 100%;
}

#new-incident-media-button {
  background-color: white;
  padding-left: 3px;
  border-radius: 5px;
  font-weight: normal;
  font-family: $font;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
  overflow: hidden;
  font-family: $font;
  font-size: 100%;
}

#new-incident-media-input {
  display: none;
}

#new-incident-description-container {
  padding: 20px;
  padding-top: 0px;
  height: 100%;

}

#new-incident-description-fieldset {
  height: 100%;
}

#new-incident-description-input {
  height: 100%;
}

#new-incident-button {
  padding: 10px 20px;
  height: 15%;
  width: 20%;
  align-self: center;
  font-family: $font;
}

#new-incident-media-input-container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  height: 4vh;
}

#new-incident-media-delete-button {
  width: 4vh;
  height: 4vh;
  display: none;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#new-incident-media-delete-button-icon {
  width: 4vh;
  height: 4vh;
  padding: 5px;
}

#meldingen_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  row-gap: 10px;
  
}

.incident-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 15px;
  box-shadow: black 1px 1px 5px
}

.column-id {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-size: 14px;
}

.column-title {
  display: flex;
  flex-direction: column;
  width: 15ch;
  min-width: 15ch;
  font-family: $font;
  font-size: 14px;
}

.column-description {
  display: block;
  flex-direction: column;
  flex: 1;
  font-family: $font;
  font-size: 14px;
}

.column-category {
  display: flex;
  flex-direction: column;
}

.column-priority {
  display: flex;
  flex-direction: column;
}

.column-actions {
  display: flex;
  flex-direction: column;
}

.incident-button {
width: 100%;
height: 100%;
}

.incident-button-img {
  height: 2ch;
  width: 2ch;
  font-family: $font;
  font-size: 14px;
}

.incident-title {
  font-family: $font;
  font-weight: bold;
  font-size: 16px;
  color: $tertiary-color
}

.incident-text {
  font-family: $font;
  font-weight: normal;
  font-size: 14px;
  color: $tertiary-color;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.incident-titles {
  width: 100%;
}

.incident-buttons-container {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}

.incident-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#main-container {
  width: 75vw;
  display: flex;
  flex-direction: column;
}

#melding-top {
  display: flex;
  flex-direction: row;

}

#melding-aanmaken-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#melding-aanmaken-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
@media (max-width: 960px) {
  #new-incident-form {
    width: 80%;
  }
  #new-incident-columns-container {
    flex-direction: column;
  }
  .new-incident-column {
    width: 100%;
  }
  .incident-container {
    width: 100%;
    padding: 10px;
  }
}